section#contact {
  margin-bottom: 20px;
}

section#contact .contact-container {
  display: flex;
  align-items: end;
}

section#contact div.contact-left-panel {
  flex-shrink: 1;
  flex-grow: 1;
}

section#contact div.contact-right-panel {
  flex-basis: 500px;
  flex-shrink: 0;
  justify-self: flex-end;
}

section#contact div.social {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

section#contact div.social p.social-text {
  font-size: 22px;
  color: var(--light-grey);
}

section#contact div.social ul {
  display: flex;
  gap: 10px;
}

section#contact div.social .social-item {
  padding: 12px;
  background-color: white;
  display: grid;
  place-items: center;
  border-radius: 8px;
}

section#contact form.contact-form {
  min-width: 500px;
  border-radius: 12px;
  background: white;
  padding: 20px 24px;
}


section#contact form.contact-form h2 {
  text-align: center;
}

section#contact form.contact-form .form-fields {
  padding: 20px;
}

section#contact form.contact-form input,
section#contact form.contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #808080;
  font: inherit;
  margin-bottom: 20px;
}

section#contact form.contact-form label {
  display: block;
  margin-bottom: 12px;
  color: var(--dark-grey);
}


section#contact button.submit-button:hover {
  background-color: var(--light-grey);
}

section#contact button.submit-button {
  padding: 12px 36px;
  border-radius: 8px;
  color: white;
  background: var(--dark-grey);
  cursor: pointer;
}

section#contact button.submit-button:disabled {
  color: var(--grey);
  background: var(--light-grey);
  cursor: unset;
}

@media screen and (max-width: 768px) {
  section#contact .contact-container {
    flex-direction: column;
    gap: 24px;
  }

  section#contact div.contact-left-panel {
    order: 2;
  }

  section#contact div.contact-left-panel img {
    width: 100%;
    display: none;
  }

  section#contact div.contact-right-panel {
    order: 1;
    width: 100%;
  }

  section#contact div.social {
    justify-content: center;
  }

  section#contact div.social p.social-text {
    font-size: 18px;
  }

  section#contact div.social ul {
    gap: 8px;
  }

  section#contact div.social .social-item {
    padding: 8px;
  }

  section#contact form.contact-form {
    min-width: unset;
  }

  section#contact form.contact-form .form-fields {
    padding: 0;
    padding-top: 12px;
  }
}