section#services {
  display: flex;
  gap: 24px;
}

section#services .services-left-half {
  flex-basis: 676px;
}

section#services .services-header {
  padding-left: 32px;
}

section#services .services-description {
  margin-top: 16px;
  margin-bottom: 48px;
}

section#services .service-list {
  display: flex;
  gap: 24px;
}

section#services .service-list.second-row {
  margin-top: 24px;
  padding-left: 52px;
}

section#services .service-list li {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 12px 32px;
  width: 300px;
}

section#services .service-item-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

section#services .service-item-title h3 {
  font-size: 22px;
  font-weight: 600;
}

section#services .service-item-body {
  font-size: 14px;
}

section#services .services-image {
  flex-basis: 470px;
  flex-grow: 0;
  flex-shrink: 1;
}

section#services .services-image>img {
  width: 100%;
  object-fit: contain;
}